body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.saved-fund-link {
  text-decoration: none !important;       
  color: #6c757d !important;              
  transition: color 0.2s ease;
}

.saved-fund-item:hover .saved-fund-link {
  color: black !important;                
  text-decoration: none !important;      
}



